.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 800px;
}

.light {
    font-weight: 300 !important;
}

.bold {
    font-weight: 500 !important;
}