@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Fuentes
$fuente_principal: 'Jost', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$amarillo: #E08709;;
$verde: #71B100;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$verdeGral: #1E8800;
$verdeOsc: #383F45;
$verdeCla: #8D919C;
$verdeLight: #00E276;
$verdeCl2: #40AA48;
$verdeLim: #41AA24;
$verdeLi2: #87C115;
$grisOsc2: #31332C;


$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900